
img
{
    height: 100%;
    width: 100%;
}

.button
{
    margin: 0.5em;
    padding: 0.5em;
    background-color: aqua;
    color: rgb(217, 244, 8);
    border-radius: 25px;
    cursor: pointer;
    font-stretch:ultra-expanded;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    height: 30%;
    width: 50%;
    
}




.info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 25px;
    border: 5px solid;
    border-color: rgb(41, 233, 236);;
    border-width: 5px;
    text-align: center;
    background-color: rgba(41, 233, 236, 0.15);
    
}
.info2
{
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 25px;
    border: 5px solid;
    border-color: rgb(41, 233, 236);;
    border-width: 5px;
    text-align: left;
    background-color: rgba(41, 233, 236, 0.20);
    font-weight: bold;
    display: grid;
    flex-direction: column;
}

.tut-images
{
    width: 75%; /*512px*/
    height: 75%; /*384px*/
}

.side-obj
{
    margin: 1em;
    padding: 1em;
    border: solid rgb(25, 23, 12) 3px;
    text-align: left;
    border-radius: 12px;
    size: 10px;
    background-color: rgba(212, 56, 51, 0.75);
}

.social
{
    margin: 1em;
    padding: 1em;
    text-align: center;
    
    /* float: left; */
}
.social2
{
    margin: 2em;
    padding: 1em;
    text-align: left;
    height: fit-content;
    width:fit-content;
    
    /* float: left; */
}
.social3
{
    margin: 1em;
    padding: 1em;
    text-align: center;
    float: left;
    
    
}

.font1
{
    font-size: 3vw;
    color: #ffffff;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.font2
{
    font-size: 1.5vw;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.font3
{
    font-size: 2vw;
    color: #000000;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.spread
{
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
}

@media (min-width: 110em)
{
    .spread
    {
        grid-auto-flow: column;
    }
}


