#body-master
{
    background-image: url("../images/ChamferPiano_Render_029.jpg");
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
}

#main-title
{
    padding: 2em;
    height: 10%;
    width: 10%;
    
}

#aligner
{
    text-align: center;
    background-color: #00000083;
    margin: 15%;
    padding: 10%;
    
}

#navigator
{
    background-color: rgb(31, 49, 89);
    font-size: 1.5em;
    border-radius: 25px;
    offset-position: 25px;
    position: fixed;
    right: 0; 
    left: 0;
    top: 0;
    margin: 0;  
}

#login-img
{
    height: 15%; /*height: 2em;*/
    width: 15%;/* width: 4em; */
    margin: 0.5em;
    padding: 0.5em;
    float: right;
}

#sidebar
{
    background-color: rgba(0, 0, 0, 0.75);
    float: right;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    overflow: auto;
    scrollbar-color: rgb(8, 150, 179) rgb(183, 178, 92);
    /* overflow-y: scroll; */
    height: 35%;
    width: 25%;
}

.nav-images
{
    height: 15%;
    width: 15%;
    margin: 0.5em;
    padding: 0.5em;
}

/* @media (min-width: 120em)
{
    #aligner
    {
        font-size: 5pt;
    }
} */