
.h2
{
    font-size: 45pt;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.b
{
    font-weight: bold;
    font-style: italic;
    color: aqua;
}


table, td{
    border: 1px solid #10dee98a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
th{
    border: 1px solid #10dee98a;
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    color: #10dee9;
    margin: 1em;
    padding: 1em;
    -webkit-text-stroke-width: 0.045em;
    -webkit-text-stroke-color: #000000;
    text-align: center;
    float: left;
}

#body-master
{
    background-image: url("./images/ChamferPiano_Render_029.jpg");
    background-color: #cccccc;
    color: #cccccc;
    
}

#main-title
{
    padding: 2em;
}

#aligner
{
    text-align: center;
}

#navigator
{
    background-color: rgb(31, 49, 89);
    font-size: 1.5em;
    border-radius: 25px;
    offset-position: 25px;
    position: fixed;
    /* display: flexbox; */
    /* z-index: 10;  */
    /* position: absolute;  */
    right: 0; 
    left: 0;
    top: 0;
    margin: 0;
    
    /* height: 83px; */
}

#login-img
{
    height: 2em;
    width: 4em;
    margin: 0.5em;
    padding: 0.5em;
    float: right;
}

.nav-images
{
    height: 2em;
    width: 4em;
    margin: 0.5em;
    padding: 0.5em;
}

#main-art
{
    padding: 2em;
    margin: 2em;
    border: 5px solid;
    border-radius: 25px;
    border-color: #cccccc;
}

#td-table
{
    border: 1px solid white;
}

.social
{
    margin: 1em;
    padding: 1em;
    text-align: center;
    float: left;
}
