h1
{
    font-size: 70pt;
}

h2
{
    font-size: 30pt;
}

#body-master
{
    background-image: url("./images/ChamferPiano_Render_029.jpg");
    background-color: #cccccc;
}

#main-title
{
    padding: 2em;
}

#aligner
{
    text-align: center;
}

#navigator
{
    background-color: rgb(31, 49, 89);
    font-size: 1.5em;
    border-radius: 25px;
    offset-position: 25px;
    position: fixed;
    /* display: flexbox; */
    /* z-index: 10;  */
    /* position: absolute;  */
    right: 0; 
    left: 0;
    top: 0;
    margin: 0;
    
    /* height: 83px; */
}

#login-img
{
    height: 2em;
    width: 4em;
    margin: 0.5em;
    padding: 0.5em;
    float: right;
}

#sidebar
{
    background-color: rgba(212, 188, 51, 0.75);
    float: right;
    text-align: right;
    position: fixed;
    right: 0;
    border-radius: 25px;
    resize: vertical;
    overflow: auto;
}

.nav-images
{
    height: 2em;
    width: 4em;
    margin: 0.5em;
    padding: 0.5em;
}

.info
{
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 25px;
    border: 5px solid;
    border-color: rgb(41, 233, 236);;
    border-width: 5px;
    text-align: center;
}

.tut-images
{
    width: 512px;
    height: 384px;
}

.side-obj
{
    margin: 1em;
    padding: 1em;
    border: solid gray 3px;
    text-align: left;
    border-radius: 12px;
    size: 10px;
}

.social
{
    margin: 1em;
    padding: 1em;
    text-align: center;
    
    /* float: left; */
}
.social2
{
    margin: 2em;
    padding: 1em;
    text-align: left;
    
    /* float: left; */
}