h1
{
    font-size: 70pt;
    color: #cccccc;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2
{
    font-size: 30pt;
    color: #cccccc;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 , h4
{
    color: #8688c6;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#body-master
{
    background-image: url("./images/ChamferPiano_Render_029.jpg");
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
}

#main-title
{
    padding: 2em;
}

#aligner
{
    text-align: center;
}

#navigator
{
    background-color: rgb(31, 49, 89);
    font-size: 1.5em;
    border-radius: 25px;
    offset-position: 25px;
    position: fixed;
    right: 0; 
    left: 0;
    top: 0;
    margin: 0;
}

#login-img
{
    height: 2em;
    width: 4em;
    margin: 0.5em;
    padding: 0.5em;
    float: right;
}

#sidebar
{
    background-color: rgba(51, 212, 209, 0.75);
    float: right;
    text-align: right;
    position: fixed;
    right: 0;
    border-radius: 25px;
    resize: vertical;
    overflow: auto;
    scrollbar-color: rgb(8, 150, 179) rgb(183, 178, 92);
    /* overflow-y: scroll; */
    height: 350px;
    width: 300px;
}

.nav-images
{
    height: 2em;
    width: 4em;
    margin: 0.5em;
    padding: 0.5em;
}


.info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 25px;
    border: 5px solid;
    border-color: rgb(41, 233, 236);;
    border-width: 5px;
    text-align: center;
    background-color: rgba(41, 233, 236, 0.15);
}
.info2
{
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 25px;
    border: 5px solid;
    border-color: rgb(41, 233, 236);;
    border-width: 5px;
    text-align: left;
    background-color: rgba(41, 233, 236, 0.20);
    font-weight: bold;
}

.tut-images
{
    width: 512px;
    height: 384px;
}

.side-obj
{
    margin: 1em;
    padding: 1em;
    border: solid rgb(25, 23, 12) 3px;
    text-align: left;
    border-radius: 12px;
    size: 10px;
    background-color: rgba(212, 56, 51, 0.75);
}

.social
{
    margin: 1em;
    padding: 1em;
    text-align: center;
    
    /* float: left; */
}
.social2
{
    margin: 2em;
    padding: 3em;
    text-align: left;
    
    /* float: left; */
}
.social3
{
    margin: 1em;
    padding: 1em;
    text-align: center;
    float: left;
}

.font1
{
    font-size: 30pt;
    color: #ffffff;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font2
{
    font-size: 12pt;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font3
{
    font-size: 16pt;
    color: #000000;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}